@use 'sass:map';
@import '../../../styles/settings';

.btn {
  display: flex;
  align-items: center;

  &_icon {
    background: none;
    display: flex;
    align-items: center;

    i {
      margin-left: map.get($spacing, 'sm');
    }
  }
}