@use 'sass:map';
@import 'src/styles/settings';

.header {
  background: $white;
  display: flex;
  align-items: center;
  padding: map.get($spacing, 'sm') map.get($spacing, 'xxxl');
  border-bottom: 1px solid $gray-mid;
}

.container {
  display: flex;
  justify-content: center;
  margin: map.get($spacing, 'xxl') map.get($spacing, 'md') 0 map.get($spacing, 'md');

  @media only screen and (max-width: $tablet) {
    margin: map.get($spacing, 'xxl')
    map.get($spacing, 'xs')
    0
    map.get($spacing, 'xs')
  }
}