@use 'sass:map';
@import '../../../styles/settings';

$border-radius: 4px;

.container {
  border: 1px solid $gray-mid;
  background: $white;
  border-radius: $border-radius;
}

.header {
  background: $gray-light;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  cursor: default !important;
}

.row {
  display: flex;
  flex: 1;
  cursor: pointer;

  &:hover {
    background: $gray-light;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $gray-mid;
  }
}

.cell {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: map.get($spacing, 'sm');
}
