@use 'sass:map';
@import '../../../styles/settings';

$border-radius: 4px;

.container {
  border: 1px solid $gray-mid;
  background: $white;
  border-radius: $border-radius;
  max-width: 1000px;
  width: 100%;

  &-dark {
    background: $gray-light;
  }
}

.header {
  background: $gray-light;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  cursor: default !important;

  &-dark {
    background: $gray-mid;
  }
}

.row {
  display: flex;
  cursor: pointer;

  &:hover {
    background: $gray-light;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $gray-mid;
  }

  &-dark {
    &:hover {
      background: $gray-mid;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $gray-dark;
    }
  }
}

.cell {
  min-width: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: map.get($spacing, 'sm') map.get($spacing, 'xs');

  &_icon {
    @media only screen and (max-width: $tablet) {
      font-size: 0.75rem !important;
    }
  }
}
